@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(135deg, #f0f9ff 0%, #e0f2fe 100%); */
    line-height: 1.6;
   overflow-x: hidden;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc(var(--angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}

.animate-orbit {
  animation: orbit calc(var(--duration) * 1s) linear infinite;
}
